{% trans_default_domain 'FOSUserBundle' %}


<div class="colorful-page-wrapper">
    <div class="center-block">
        <div class="login-block">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request orb-form">
                <header>
                    <div class="image-block"><img src="images/logo.png" alt="User" /></div>
                    Réinitialisation du mot de passe
                </header>
                <fieldset>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <section>
                        <div class="row">
                            <label class="label col col-4" for="username">Pseudo|Email</label>
                            <div class="col col-8">
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" id="username" name="username" required="required" />
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-default"/>
                </footer>
            </form>
        </div>
    </div>
</div>